body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #222;
  background-image: url(space.png);
  text-align: center;
  line-height: 1.4em;
  position: relative;
}

main {
  padding: 0;
  margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

h1{
  position: relative;
  margin: auto;
  top: 290px;
  color: white;
  font-weight: bold;
}

.user-stories li {
  margin-bottom: 1em;
}

a {
  color: #2574a9;
}

form {
  margin: 10px auto;
  padding: 20px;
  max-width: 600px;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
}

input[type='text'] {
  width: 220px;
  text-align: center;
}
section{
  position: relative;
  margin: auto;
  top: 290px;
}
legend{
  color: white;
  font-weight: bold;
}
label{
  color: white;
  font-weight: bold;
}